<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Nuevo Ingreso / Egreso</h4>

        <form [formGroup]="form"  (ngSubmit)="onSubmitForm()">
          <div class="form-group">
            <label>Descripción</label>
            <input
              type="text"
              class="form-control"
              placeholder="Descripción"
              name="descripcion"
              formControlName="descripcion"
            />
          </div>

          <div class="form-group">
            <label>Monto</label>
            <input
              type="text"
              class="form-control"
              placeholder="Monto"
              name="monto"
              formControlName="monto"
            />
            <!-- <p>Debe de ser un monto positivo</p> -->
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <select formControlName="tipo" class="form-control">
              <option>Default select</option>
              <option value="ingreso">Ingreso</option>
              <option value="egreso">Egreso</option>
            </select>
          </div>

          <hr />
          <button [disabled]="form.invalid" type="submit" class="btn btn-success mr-2">
            <i *ngIf="isLoadingSpinner; else iconSave" class="fa fa-spin fa-sync"></i>
            <ng-template #iconSave>
              <i class="fa fa-save"></i>
            </ng-template>
            Agregar
          </button>

          <button type="reset" class="btn btn-light">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
